<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title><%= html_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="<%= Redmine::Info.app_name %> Backlogs"/>
  <meta name="keywords" content="issue,bug,tracker,scrum,agile,plugin"/>
  <%= csrf_meta_tag %>
  <%= favicon %>
  <%= stylesheet_link_tag 'jquery/jquery-ui-1.11.0', 'application', 'responsive', :media => 'all' %>
  <%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
  <%= stylesheet_link_tag 'global.css', :plugin => 'redmine_backlogs', :media => 'print,screen' %>
  <%= stylesheet_link_tag 'global_print.css', :plugin => 'redmine_backlogs', :media => 'print' %>
  <%= javascript_heads %>
  <%= heads_for_theme %>

  <%= call_hook :view_layouts_base_html_head %>
  <!-- page specific tags -->

  <%= yield :header_tags -%>

  <script type="text/javascript">
      RB.$(function () {

          /* jquery sortable behaves erradically on firefox when
           * the page is scrolled down AND position:relative elements are containing the sortable AND overflow-y:scroll is used.
           * As that overflow-y comes from redmine (its an IE fix) and i decided against using css @-moz-document to fix this up,
           * here the mini browser detection in active code.
           * wth.
           */
          try {
              if (navigator.userAgent.toLowerCase().match(/mozilla/)) {
                  //fix around jquery sortable offset problems when page is scrolled down.
                  document.getElementsByTagName('html')[0].style.overflowY = 'inherit';
              }
          } catch (e) {
          }

          /* provide the possibility to collapse the redmine header */
          RB.$('#usability-compat-wrapper').bind('dblclick', function (e, u) {
              RB.$('#usability-compat-wrapper').toggleClass('w-rb-header-collapsed');
          });
      });
  </script>
</head>
<body class="<%= body_css_classes %>">
<%= call_hook :view_layouts_base_body_top %>
<div id="wrapper">

  <div class="flyout-menu js-flyout-menu">


    <% if User.current.logged? || !Setting.login_required? %>
      <div class="flyout-menu__search">
        <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get) do %>
          <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
          <%= label_tag 'flyout-search', '&#9906;'.html_safe, :class => 'search-magnifier search-magnifier--flyout' %>
          <%= text_field_tag 'q', @question, :id => 'flyout-search', :class => 'small js-search-input', :placeholder => l(:label_search) %>
        <% end %>
      </div>
    <% end %>

    <% if User.current.logged? %>
      <div class="flyout-menu__avatar
        <% if !Setting.gravatar_enabled? %>flyout-menu__avatar--no-avatar
        <% end %>">
        <% if Setting.gravatar_enabled? %>
          <%= link_to(avatar(User.current, :size => "80"), user_path(User.current)) %>
        <% end %>
        <%= link_to_user(User.current, :format => :username) %>
      </div>
    <% end %>

    <% if display_main_menu?(@project) %>
      <h3><%= l(:label_project) %></h3>
      <span class="js-project-menu"></span>
    <% end %>

    <h3><%= l(:label_general) %></h3>
    <span class="js-general-menu"></span>

    <span class="js-sidebar flyout-menu__sidebar"></span>

    <h3><%= l(:label_profile) %></h3>
    <span class="js-profile-menu"></span>

  </div>

  <div id="wrapper2">
    <div id="wrapper3">
      <div id="usability-compat-wrapper">
        <div id="top-menu" title="Doubleclick to collapse">
          <div id="account">
            <%= render_menu :account_menu -%>
          </div>
          <%= content_tag('div', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %>
          <%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
        </div>

        <div id="header">

          <a href="#" class="mobile-toggle-button js-flyout-menu-toggle-button"></a>

          <% if User.current.logged? || !Setting.login_required? %>
            <div id="quick-search">
              <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get) do %>
                <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
                <label for='q'>
                  <%= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>
                  :
                </label>
                <%= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
              <% end %>
              <%= render_project_jump_box %>
            </div>
          <% end %>

          <h1><%= page_header_title %>&nbsp;<%= breadcrumb_separator %><%= yield :breadcrumbs -%></h1>

          <% if display_main_menu?(@project) %>
            <div id="main-menu" class="tabs">
              <%= render_main_menu(@project) %>
              <div class="tabs-buttons" style="display:none;">
                <button class="tab-left" onclick="moveTabLeft(this); return false;"></button>
                <button class="tab-right" onclick="moveTabRight(this); return false;"></button>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div id="main" class="rb-main rb-theme-default <%= sidebar_content? ? '' : 'nosidebar' %>">
        <div id="sidebar">
          <%= yield :sidebar %>
          <%= view_layouts_base_sidebar_hook_response %>
        </div>

        <div id="content">
          <%= render_flash_messages %>
          <div id="rbcontentwrapper">
            <div id="toolbar" class="rb-toolbar">
              <div class="userselect">
                <%= yield :view_specific_users -%>
              </div>
              <div class="links">
                <%= yield :view_specific_links -%>
              </div>
            </div>

            <%= yield :main %>
          </div>
          <%= call_hook :view_layouts_base_content %>
          <div style="clear:both;"></div>
        </div>
      </div>
      <div id="helpers">
        <%= yield :helpers %>
      </div>
    </div>

    <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
    <div id="ajax-modal" style="display:none;"></div>

    <div id="footer">
      <div class="bgl">
        <div class="bgr">
          Powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %> &copy; 2006-2017 Jean-Philippe Lang
        </div>
      </div>
    </div>
  </div>
</div>
<%= call_hook :view_layouts_base_body_bottom %>
</body>
<script type="text/javascript">
    $(function () {

        var targets = new Array();
        $('.phase_field').each(function() {
            targets.push($(this).text());
        });

        var ph2_all_count = $('#stories-for-product-backlog li').find(".phase_field:contains('PH2')").length;

        var bugsCnt = $('#stories-for-product-backlog li').closest('.model').find(".tracker_name_field:contains('【バグ')").length;
        var siyoufubiCnt = $('#stories-for-product-backlog li').closest('.model').find(".tracker_name_field:contains('【仕様不備')").length;
        var siyouhenkouCnt = $('#stories-for-product-backlog li').closest('.model').find(".tracker_name_field:contains('【仕様変更')").length;
        var functional_ticket_count = $('#stories-for-product-backlog li').find(".tracker_name_field:contains('機能')").length;
        var hold_count =  $('#stories-for-product-backlog li').closest('.model').find(".status_id:contains('保留')").length;

        var assignee_name_hd_clzzs = $('.assignee_name_hd_clzz');
        $.each(assignee_name_hd_clzzs, function (i, value) {
            if ($(value).val() !== '') {
                $(value).siblings('.prevent_edit').addClass('prevent_edit_exists_pic');
            }
        });
        var triage_level_clzz = $('.triage_level_clzz');
        $.each(triage_level_clzz, function (i, value) {
            if ($(value).val() === '2') {
                $(value).siblings('.prevent_edit').addClass('prevent_edit_middle_1');
            } else if ($(value).val() === '10') {//高２
                $(value).siblings('.prevent_edit').addClass('prevent_edit_high_2');
            } else if ($(value).val() === '3') {//高１
                $(value).siblings('.prevent_edit').addClass('prevent_edit_high_1');
            } else if ($(value).val() === '4') {
                $(value).siblings('.prevent_edit').addClass('prevent_edit_emergency');
            }
        });

        $('#product_backlog_container').find('.name').append('<span id="total_bugfix_counts" style="font-size: 13px;">' + '（PH2チケット数：' + 'バグ:' + bugsCnt + ' 、 ' + '仕不備:' + siyoufubiCnt + ' 、 ' + '仕変:' + siyouhenkouCnt + '、'  + '保留:' + hold_count + '）</span>');
        $('#product_backlog_container').find('.header').find('.fff-right').remove();

        //表用
        var backlogDom =  $('.backlog  li');
        var ad_tikets = $(backlogDom).closest('.model').find(".phase_field:contains('【AD')").parents('.ui-sortable-handle').has(".status_id:contains('新規'),.status_id:contains('進行中'),.status_id:contains('レビュー待ち'),.status_id:contains('保留')");
        var ad_emergency_count = $(ad_tikets).find('.triage_level_clzz[value="4"]').length;
        $('#ad_emergency_count').text(ad_emergency_count);
        var ad_high_1_count = $(ad_tikets).find('.triage_level_clzz[value="3"]').length;
        $('#ad_high_1_count').text(ad_high_1_count);
        var ad_high_2_count = $(ad_tikets).find('.triage_level_clzz[value="10"]').length;
        $('#ad_high_2_count').text(ad_high_2_count);
        var ad_middle_1_count = $(ad_tikets).find('.triage_level_clzz[value="2"]').length;
        $('#ad_middle_1_count').text(ad_middle_1_count);
        var ad_middle_2_count = $(ad_tikets).find('.triage_level_clzz[value="11"]').length;
        var ad_low_count = $(ad_tikets).find('.triage_level_clzz[value="1"]').length;
        $('#ad_middle_2_count').text(ad_middle_2_count + ad_low_count);

        var ty_tikets = $(backlogDom).closest('.model').find(".phase_field:contains('【TY')").parents('.ui-sortable-handle').has(".status_id:contains('新規'),.status_id:contains('進行中'),.status_id:contains('レビュー待ち'),.status_id:contains('保留')");
        var ty_emergency_count = $(ty_tikets).find('.triage_level_clzz[value="4"]').length;
        $('#ty_emergency_count').text(ty_emergency_count);
        var ty_high_1_count = $(ty_tikets).find('.triage_level_clzz[value="3"]').length;
        $('#ty_high_1_count').text(ty_high_1_count);
        var ty_high_2_count = $(ty_tikets).find('.triage_level_clzz[value="10"]').length;
        $('#ty_high_2_count').text(ty_high_2_count);
        var ty_middle_1_count = $(ty_tikets).find('.triage_level_clzz[value="2"]').length;
        $('#ty_middle_1_count').text(ty_middle_1_count);
        var ty_middle_2_count = $(ty_tikets).find('.triage_level_clzz[value="11"]').length;
        var ty_low_count = $(ty_tikets).find('.triage_level_clzz[value="1"]').length;
        $('#ty_middle_2_count').text(ty_middle_2_count + ty_low_count);

        var calculated_ad_total_sum = 0;
        var calculated_ty_total_sum = 0;

        $("#summery_tik .vg-count").each(function () {
            var get_textbox_value = $(this).text();
            if ($.isNumeric(get_textbox_value)) {
                calculated_ad_total_sum += Number(get_textbox_value);
            }
        });
        $("#ad_total_count").html(calculated_ad_total_sum);

        $("#summery_tik .ty-count").each(function () {
            var get_textbox_value = $(this).text();
            if ($.isNumeric(get_textbox_value)) {
                calculated_ty_total_sum += Number(get_textbox_value);
            }
        });
        $("#ty_total_count").html(calculated_ty_total_sum);
    });
</script>
</html>
